
<header  class="header-two">
	<div class="top-header">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6 col-sm-8 col-12">
		
		  </div>
		
		  <div class="col-md-6 col-sm-4 col-12">
			<ul class="social-icon">
			  <li><a href="https://www.pinterest.fr/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			  <li><a href="https://fr.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			  <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		  </div>
		</div> <!-- /.row -->
	  </div> <!-- /.container -->
	</div> <!-- /.top-header -->

	<div class="theme-menu-wrapper">
	  <div class="container">
		<div class="bg-wrapper clearfix">
		  <div class="logo float-left"><a routerLink="/accueil" routerLinkActive="active"><img class="logmer" src="assets/images/logo/logo1.3.png" alt=""></a></div>
		  <!-- ============== Menu Warpper ================ -->
		  <div class="menu-wrapper float-left">
			<nav id="mega-menu-holder" class="clearfix">
			  <ul class="clearfix">
				<li ><a routerLink="/accueil" routerLinkActive="active">Acceuil</a></li>
				<li><a routerLink="/about" routerLinkActive="active">A PROPOS</a></li>
				<li><a routerLink="/notreequipe" routerLinkActive="active">NOTRE EQUIPE</a></li>
				<li><a routerLink="/accueil">Expertise</a>
					<ul class="dropdown">
					  <li><a routerLink="/droit-des-societes" routerLinkActive="active" >DROIT DES SOCIETES</a></li>
					  <li><a routerLink="/droit-immobilier" routerLinkActive="active">DROIT IMMOBILIER</a></li>
					  <li><a routerLink="/droit-social" routerLinkActive="active">DROIT SOCIAL</a></li>
					  <li><a routerLink="/droitdesaffairesetdescontrats" routerLinkActive="active">DROIT DES AFFAIRES /DROIT DES CONTRATS</a>
						<li><a routerLink="/droitde-famille" routerLinkActive="active">Droit de la famille</a>
					  </li>
					  
					</ul>
				  </li>
				<li><a routerLink="/contact">contact</a></li>
				<li> <button  routerLink="/connexion" class="theme-button-one">espace personnel</button></li>
			  </ul>
			</nav> <!-- /#mega-menu-holder -->
		  </div> <!-- /.menu-wrapper -->
		 
		</div> <!-- /.bg-wrapper -->
	  </div> <!-- /.container -->
	</div> <!-- /.theme-menu-wrapper -->
