
                        <div class="about-compnay-two section-spacing">
                            <div class="overlay">
                              <div class="container">
                                <div class="row no-gutters">
                                  <div class="col-lg-7 col-12 text">
                                    <div class="theme-title-one">
                                      <h2>Contactez nos avocats</h2>
                                    </div> <!-- /.theme-title-one -->
                                    <p>"Besoin d'une assistance juridique ? Notre équipe d'avocats expérimentés est là pour vous aider. Posez vos questions, partagez vos préoccupations et obtenez des conseils personnalisés en utilisant notre service de messagerie sécurisé. Nous nous engageons à vous fournir des réponses claires et rapides pour vous aider à résoudre vos problèmes juridiques. N'hésitez pas à nous contacter et laissez-nous vous accompagner dans vos démarches juridiques."</p>
                                   
                                    <!-- <img src="assets/images/signature.svg" alt="" class="sign"> -->
                                  </div> <!-- /.col- -->
                                  <div class="col-lg-5 col-12">
                                    <div class="quote-form">
                                      <form action="#" class="theme-form-one">
                                        <div class="row">
                                          <div class="col-md-6"><input type="text" placeholder="prenom, nom *"></div>
                                          <div class="col-md-6"><input type="text" placeholder="numero telephone *"></div>
                                          <div class="col-md-6"><input type="email" placeholder="adresse mail *"></div>
                                          <div class="col-md-6">
                                            <select class="form-control" id="exampleSelect1">
                                                <option>Choisissez votre service</option>
                                                <option>droit des sociétés</option>
                                                <option>droit immobiler </option>
                                                <option>droit social</option>
                                                <option>droit de famille</option>
                                                <option>droit des affaires et des contrats</option>
                                              </select>
                                          </div>
                                          <div class="col-12"><textarea placeholder="votre message"></textarea></div>
                                        </div> <!-- /.row -->
                                        <button class="theme-button-one">envoyer </button>
                                      </form>
                                    </div> <!-- /.quote-form -->
                                  </div>
                                </div> <!-- /.row -->
                              </div> <!-- /.container -->
                            </div> <!-- /.overlay -->
                          </div> <!-- /.about-compnay-two -->