
<header *ngIf="showHeader"  class="header-two">
	<div class="top-header">
	  <div class="container">
		<div class="row">
		  <div class="col-md-6 col-sm-8 col-12">
		
		  </div>
		
		  <div class="col-md-6 col-sm-4 col-12">
			<ul class="social-icon">
			  <li><a href="https://www.pinterest.fr/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			  <li><a href="https://fr.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			  <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		  </div>
		</div> <!-- /.row -->
	  </div> <!-- /.container -->
	</div> <!-- /.top-header -->

	<div class="theme-menu-wrapper">
	  <div class="container">
		<div class="bg-wrapper clearfix">
		  <div class="logo float-left"><a routerLink="/accueil" routerLinkActive="active"><img class="logmer" src="assets/images/logo/logo1.3.png" alt=""></a></div>
		  <!-- ============== Menu Warpper ================ -->
		  <div class="menu-wrapper float-left">
			<nav id="mega-menu-holder" class="clearfix">
			  <ul class="clearfix">
				<li ><a routerLink="/accueil" >Acceuil</a></li>
				<li><a routerLink="/about" routerLinkActive="active">A PROPOS</a></li>
				<li><a routerLink="/accueil">Expertise</a>
					<ul class="dropdown">
					  <li><a routerLink="/droit-des-societes" routerLinkActive="active" >DROIT DES SOCIETES</a></li>
					  <li><a routerLink="/droit-immobilier" routerLinkActive="active">DROIT IMMOBILIER</a></li>
					  <li><a routerLink="/droit-social" routerLinkActive="active">DROIT SOCIAL</a></li>
					  <li><a routerLink="/droitdesaffairesetdescontrats" routerLinkActive="active">DROIT DES AFFAIRES /DROIT DES CONTRATS</a>
						<li><a routerLink="/droitde-famille" routerLinkActive="active">Droit de la famille</a>
					  </li>
					  
					</ul>
				  </li>
				<li><a routerLink="/contact">contact</a></li>
				<li> <i title="Espace utilisateur" style="margin-left: 100px;" class="fa fa-user"  routerLink="/connexion" ></i><span>Espace Utilisateur</span></li>
			  </ul>
			</nav> <!-- /#mega-menu-holder -->
		  </div> <!-- /.menu-wrapper -->
		 
		</div> <!-- /.bg-wrapper -->
	  </div> <!-- /.container -->
	</div> <!-- /.theme-menu-wrapper -->
  </header>  <!-- /.header-one -->



	<router-outlet></router-outlet>


     <!--
			=====================================================
				Footer
			=====================================================
	-->
		
  <footer   *ngIf="showFooter" class="theme-footer-two">
	<div class="top-footer">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-4 col-sm-6 col-12 logo-widget">
			<div class="logo"><a routerLink="/accueil"><img class="logmer" src="assets/images/logo/logo1.3.png" alt=""></a></div>
			<p>constitué d’avocats spécialisés en droit des sociétés et des entreprises, droit commercial, droit du travail, droit immobilier.</p>
			<ul class="social-icon">
			  <li><a href="https://www.pinterest.fr/"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
			  <li><a href="https://fr.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
			  <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			  <li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			</ul>
		  </div> <!-- /.logo-widget -->
		  <div class="col-lg-2 col-sm-6 col-12 footer-list">
			<h6 class="title">EXPLORE</h6>
			<ul>
				<li><a routerLink="/droit-des-societes" >Droit des societes</a></li>
				<li><a routerLink="/droit-immobilier">Droit immobilier</a></li>
				<li><a routerLink="/droit-social">Droit social</a></li>
				<li><a routerLink="/droitdesaffairesetdescontrats">Droit des affaires /  Droit des contrats</a>
				  <li><a routerLink="/droitde-famille">Droit de la famille</a>
			</ul>
		  </div> <!-- /.footer-list -->
		  <div class="col-lg-3 col-sm-6 col-12 footer-gallery">
			<h6 class="title">Gallery</h6>
			<div class="wrapper">
			  <div class="row">
				<div class="col-4">
				  <a href="images/footer/1.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/1.jpg" alt=""></a>
				</div>
				<div class="col-4">
				  <a href="assets/images/footer/2.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/2.jpg" alt=""></a>
				</div>
				<div class="col-4">
				  <a href="assets/images/footer/3.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/3.jpg" alt=""></a>
				</div>
				<div class="col-4">
				  <a href="assets/images/footer/4.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/4.jpg" alt=""></a>
				</div>
				<div class="col-4">
				  <a href="assets/images/footer/5.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/5.jpg" alt=""></a>
				</div>
				<div class="col-4">
				  <a href="assets/images/footer/6.jpg" data-fancybox="gallery" data-caption="Caption for single image" class="fancybox"><img src="assets/images/footer/6.jpg" alt=""></a>
				</div>
			  </div>
			</div>
		  </div> <!-- /.footer-gallery -->
		  
		  <div class="col-lg-3 col-sm-6 col-12 contact-widget">
			<h6 class="title">CONTACT</h6>
			<ul>
			  <li>
				<i class="flaticon-direction-signs"></i>
				995, Gerogia str., Washington DC, United States.
			  </li>
			  <li>
				<i class="flaticon-multimedia-1"></i>
				<a routerLink="/accueil">info@yoursupport.com</a>
			  </li>
			  <li>
				<i class="fa fa-phone" aria-hidden="true"></i>
				<a routerLink="/accueil">+1 747 123 4567</a>
			  </li>
			</ul>
		  </div> <!-- /.contact-widget -->
		</div> <!-- /.row -->
	  </div> <!-- /.container -->
	</div> <!-- /.top-footer -->
	<div class="bottom-footer">
	  
	</div> <!-- /.bottom-footer -->
  </footer> <!-- /.theme-footer-two -->
