<div class="container">
   
    <nav class="p-2 mb-2 ">
        <nav class="p-2 mb-2 ">
            <button class="btn btn btn-outline-info" (click)="handleNouveauService()">Neauveau service</button>
        
          </nav>
    </nav>
    <ng-template #errors>
      <div class="text-danger">{{ errorMessage }}</div>
    </ng-template>
    
    <div class="card" *ngIf="service; else errors">
        <div class="card-header"> Liste Des Services </div>
        <div class="card-body">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handelSearchOffre()">
            <div class="input-group">
              <label class="input-group-text">chercher :</label>
              <input type="text" class="form-control" formControlName="keyword">
              <button class="btn btn-info w-auto" type="submit">
                <i class="fas fa-search"></i> 
              </button>
            </div>
          </form>
          
          <table class="table">
            <thead>
              <tr>
                <th>ID_Service</th> 
                <th>Type</th>
         
              
               
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of service">
                <td>{{ p.ID_Service }}</td> 
                <td>{{ p.Type }}</td>
              
             
                <td >
                  <button (click)="handelDeleteOffre(p)" class="btn btn-danger  ">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
                <td>
                    <button (click)="handelDeleteOffre(p)" class="btn btn-danger w-auto ">
                      <i class="bi bi-trash"></i>Modifier 
                    </button>
                  </td>
              </tr>
            </tbody>
          </table>
        
    
        </div>
      </div>
  </div>
  

