
<div class="main-page-wrapper">
  <!-- 
  =============================================
    Theme Main Banner
  ============================================== 
  -->
  <div id="theme-main-banner" class="banner-one meraba" >
    <div data-src="assets/images/slideshow/slide-1.jpg">
      <div class="camera_caption">
        <div class="container">
          <p class="wow fadeInUp animated">MONAVOCAT - Avocats spécialisés</p>
          <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Ils nous ont fait  <br>confiance</h1>
          <a routerLink="/about" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">savoir plus</a>
        </div> <!-- /.container -->
      </div> <!-- /.camera_caption -->
    </div>
    <div data-src="assets/images/slideshow/slide-2.jpg">
      <div class="camera_caption">
        <div class="container">
          <p class="wow fadeInUp animated white">Tous les conseils juridiques dont vous avez besoin pour votre entreprise !</p>
          <h1 class="wow fadeInUp animated white" data-wow-delay="0.2s">Plus qu'un cabinet<br> une équipe et des expertises</h1>
          <a routerLink="/about" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">savoir plus</a>
        </div> <!-- /.container -->
      </div> <!-- /.camera_caption -->
    </div>
    <div data-src="assets/images/slideshow/slide-3.jpg">
      <div class="camera_caption">
        <div class="container">
          <p class="wow fadeInUp animated">Tous les conseils juridiques dont vous avez besoin pour votre entreprise !</p>
          <h1 class="wow fadeInUp animated" data-wow-delay="0.2s">Plus qu'un cabinet <br>une équipe et des expertises</h1>
          <a  routerLink="/about" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">savoir plus</a>
        </div> <!-- /.container -->
      </div> <!-- /.camera_caption -->
    </div>
  </div> <!-- /#theme-main-banner -->
  

  <!-- 
  =============================================
    CallOut Banner 
  ============================================== 
  -->
  <div class="callout-banner section-spacing">
    <div class="container clearfix">
      <h3 class="title">Votre défense, notre engagement </h3>
      <p> Des avocats dévoués à protéger vos droits et à vous fournir une représentation juridique solide .</p>
      <a routerLink="/about" class="theme-button-one">savoir plus</a>
    </div>
  </div> <!-- /.callout-banner -->


  <!-- 
  =============================================
    Our Solution
  ============================================== 
  -->
  <div class="our-solution section-spacing">
    <div class="container">
      <div class="theme-title-one">
        <h2>Nos SERVICES</h2>
      </div> <!-- /.theme-title-one -->
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/suitcase.svg" alt="" class="icon">
              <h5><a routerLink="droit-des-societes">Droit des sociétés</a></h5>
              <p>Nos vocats aident à la création et à l'enregistrement de différentes formes de sociétés, telles que les sociétés à responsabilité limitée (SARL), les sociétés anonymes (SA), les sociétés par actions simplifiées (SAS), etc.</p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/money.svg" alt="" class="icon">
              <h5><a routerLink="droit-immobilier">Droit immobilier</a></h5>
              <p>Nos avocats spécialisés en droit immobilier conseillent sur les transactions immobilières, les baux, les litiges liés à la propriété, les contrats de location, les problèmes de copropriété, etc. </p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/costs-revenues-chart.svg" alt="" class="icon">
              <h5><a routerLink="droit-social">Droit social</a></h5>
              <p>Nos avocats conseillent les employeurs sur les lois et réglementations du travail, y compris les contrats de travail, les conditions d'emploi, les politiques internes, les congés, les heures de travail, les salaires et les avantages sociaux. Ils aident les employeurs à se conformer aux lois du travail en vigueur.</p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/target.svg" alt="" class="icon">
              <h5><a routerLink="secretaria-juridique">Secrétariat juridique</a></h5>
              <p>avocats peuvent fournir des services de secrétariat juridique, ce qui implique la tenue des registres officiels de la société, la rédaction des procès-verbaux des réunions des organes de gouvernance (assemblées générales, conseils d'administration), le suivi des délais et des exigences réglementaires, etc. </p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/analysis.svg" alt="" class="icon">
              <h5><a routerLink="droitdesaffairesetdescontrats">Droit des affaires</a></h5>
              <p>Nos avocats spécialisés en droit des affaires conseillent les entreprises sur une variété de questions juridiques, y compris la création d'entreprise, la structuration des contrats commerciaux, les litiges commerciaux, la conformité réglementaire, les fusions et acquisitions, etc. </p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-solution-block">
              <img src="assets/images/icon/startup-rocket.svg" alt="" class="icon">
              <h5><a href="service-details.html">Pharetra Convallis</a></h5>
              <p>Pharetra convallis posuere morbi leo urna molestie at. Sagittis orci a scelerisque purus semper eget duis at.</p>
            </div> <!-- /.single-solution-block -->
          </div> <!-- /.col- -->
        </div> <!-- /.row -->
      </div> <!-- /.wrapper -->
    </div> <!-- /.container -->
  </div> <!-- /.our-solution -->


  <!-- 
  =============================================
    About Company Stye Two
  ============================================== 
  -->



  <!-- 
  =============================================
    Our Case
  ============================================== 
  -->
  <div class="our-case section-spacing">
    <div class="container">
      <div class="theme-title-one">
        <h2>Envirenement</h2>
      </div> 
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
               <img src="assets/images/our-cases/1.jpg" alt=""> 
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a routerLink="/blog-detail">Adipiscing Momentus</a></h5>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                  <a routerLink="/blog-detail" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
              <img src="assets/images/our-cases/2.jpg" alt="">
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a >Posuere Urna</a></h5>
                    <p>Posuere urna nec semper feugiat.</p>
                  </div>
                  <a  class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
              <img src="assets/images/our-cases/3.jpg" alt="">
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a >Vestibulum Mattis</a></h5>
                    <p>Vestibulum mattis velit sed</p>
                  </div>
                  <a class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
              <img src="assets/images/our-cases/4.jpg" alt="">
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a >Nullam Non</a></h5>
                    <p>Nullam non nisi est facilisis</p>
                  </div>
                  <a  class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
              <img src="assets/images/our-cases/5.jpg" alt="">
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a >Orci Ac Auctor</a></h5>
                    <p>Orci ac auctor augue mauris augue</p>
                  </div>
                  <a  class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="single-case-block">
              <img src="assets/images/our-cases/6.jpg" alt="">
              <div class="hover-content">
                <div class="text clearfix">
                  <div class="float-left">
                    <h5><a href="#">Luctus Venenatis</a></h5>
                    <p>Luctus venenatis fringilla urna</p>
                  </div>
                  <a  class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div> <!-- /.text -->
              </div> <!-- /.hover-content -->
            </div> <!-- /.single-case-block -->
          </div> <!-- /.col- -->
        </div> <!-- /.row -->
      </div> <!-- /.wrapper -->
      <div class="view-all"><a  class="theme-button-one">VIEW MORE</a></div>
    </div> <!-- /.container -->
  </div> <!-- /.our-case -->


  <!--
  =====================================================
    Faq Section
  =====================================================
  -->
  <div class="faq-section">
    <div class="overlay">
      <div class="container">
        <div class="theme-title-one">
          <h2>Faq’s</h2>
          <p>Découvrez le rôle essentiel des avocats dans notre vidéo informative. Obtenez des réponses aux questions fréquemment posées et explorez comment les avocats peuvent vous aider à naviguer dans le système juridique avec confiance. </p>
        </div> <!-- /.theme-title-one -->

        <div class="wrapper row no-gutters">
          <div class="col-xl-6 col-lg-7 order-last">
            <div class="faq-content">
              <div class="accordion-one">
                <div class="panel-group theme-accordion" id="accordion">
                  <div class="panel">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        1. Comment choisir le bon avocat pour mon cas?</a>
                      </h6>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Pour choisir le bon avocat, il est important de considérer plusieurs facteurs tels que leur spécialité, leur expérience, leurs références, et leur approche de travail.</p>
                      </div>
                    </div>
                  </div> <!-- /panel 1 -->
                  <div class="panel">
                    <div class="panel-heading active-panel">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                        2.Combien coûte les services d'un avocat?</a>
                      </h6>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse show">
                      <div class="panel-body">
                        <p>Les frais d'un avocat varient en fonction de différents facteurs, tels que la complexité de l'affaire, la réputation de l'avocat, et la région géographique.</p>
                      </div>
                    </div>
                  </div> <!-- /panel 2 -->
                  <div class="panel">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                        3. Comment se déroule le processus judiciaire?</a>
                      </h6>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Le processus judiciaire peut varier en fonction du type de cas et de la juridiction. En général, il commence par le dépôt d'une plainte ou d'une demande, suivi d'une période de découverte où les preuves sont échangées entre les parties.</p>
                      </div>
                    </div>
                  </div> <!-- /panel 3 -->
                  <div class="panel">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                       4. Quels types de services juridiques un avocat peut-il fournir ?</a>
                      </h6>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>Les avocats offrent divers services juridiques tels que la consultation, la représentation en justice, la rédaction de documents, la négociation, la conformité et la spécialisation dans des domaines spécifiques.</p>
                      </div>
                    </div>
                  </div> <!-- /panel 4 -->
                  <div class="panel">
                    <div class="panel-heading">
                      <h6 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                       5. Quels types de cas les avocats peuvent-ils traiter ?</a>
                      </h6>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p> Les avocats peuvent traiter une variété de cas, y compris les affaires civiles, les affaires pénales, les affaires familiales, les affaires commerciales, les litiges immobiliers, les questions de propriété intellectuelle, les problèmes de travail, les successions et les procédures d'immigration, entre autres.</p>
                      </div>
                    </div>
                  </div> <!-- /panel 5 -->
                </div> <!-- end #accordion -->
              </div> <!-- End of .accordion-one -->
            </div> <!-- /.faq-content -->
          </div> <!-- /.col- -->
          <div class="col-xl-6 col-lg-5 order-first"><div class="img-box"><a data-fancybox href="https://www.youtube.com/watch?v=lxtNm9gFMhM" class="play"><i class="fa fa-play" aria-hidden="true"></i></a></div></div>
        </div> <!-- /.wrapper -->
      </div> <!-- /.container -->
    </div> <!-- /.overlay -->
  </div> <!-- /.faq-section -->
  


  <!--
  =====================================================
    Why Choose us
  =====================================================
  -->
  <!-- <div class="why-choose-us section-spacing">
    <div class="container"> -->
      <!-- <div class="theme-title-one">
        <h2>Victoires juridiques</h2> -->
      <!-- </div> /.theme-title-one -->

      <!-- <div class="wrapper">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="single-block">
              <img src="assets/images/icon/data-report.svg" class="icon flaticon-puzzle">
              <h5><a href="#">Vulputate Enim</a></h5>
              <p>Lectus magna fringilla urna porttitor. Sollicitudin tempor vestibulum morbi blandit cursus risus at ultrices mi. </p>
            </div> /.single-block -->
          <!-- </div>  /.col
          <div class="col-lg-4 col-12">
            <div class="single-block">
              <img src="assets/images/icon/commissions.svg" class="icon flaticon-puzzle">
              <h5><a >Tincidunt Tortor Aliquam</a></h5>
              <p>Lectus magna fringilla urna porttitor. Sollicitudin tempor vestibulum morbi blandit cursus risus at ultrices mi. </p>
            </div>  /.single-block 
          </div>  /.col- 
          <div class="col-lg-4 col-12">
            <div class="single-block">
              <img src="assets/images/icon/customer-service.svg" class="icon flaticon-puzzle">
              <h5><a >Ornare Suspendisse</a></h5>
              <p>Lectus magna fringilla urna porttitor. Sollicitudin tempor vestibulum morbi blandit cursus risus at ultrices mi. </p>
            </div>  /.single-block 
          </div>  /.col- -->
        <!-- </div> /.row
    </div> /.wrapper
    </div> /.container
  </div> /.why-choose-us   -->


  <!--
  =====================================================
    Short Banner
  =====================================================
  -->
  <div class="short-banner section-spacing">
    <div class="overlay">
      <div class="container">
        <!-- <h2>Eu sem integer vitae justo eget magna fermentum iaculis.</h2> -->
      </div>
    </div> <!-- /.overlay -->
  </div> <!-- /.short-banner -->


	<!--
			=====================================================
				Latest News
			=====================================================
			-->
			<!-- <div class="our-blog latest-news section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Nos Avocats</h2>
						<p> </p>
					</div /.theme-title-one 
					<div class="wrapper">
						<div class="clearfix">
							<div class="latest-news-slider">
								<div class="item">
									<div class="single-blog">
										<div class="image-box">
											<img src="assets/images/news/pic1.jpg" alt="">
											<div class="overlay"><a href="#" class="date">May 13, 2023</a></div>
										</div> <!-- /.image-box 
										<div class="post-meta">
											<h5 class="title"><a href="blog-details.html"></a></h5>
											<a routerLink="/blog-detail"class="read-more">READ MORE</a>
										</div> <!-- /.post-meta 
									</div> <!-- /.single-blog 
								</div> <!-- /.col- 
								<div class="item">
									<div class="single-blog">
										<div class="image-box">
											<img src="assets/images/news/pic2.jpg" alt="">
											<div class="overlay"><a href="#" class="date">Juin 12, 2023</a></div>
										</div> <!-- /.image-box 
										<div class="post-meta">
											<h5 class="title"><a href="blog-details.html"></a></h5>
											<a routerLink="/blog-detail" class="read-more">READ MORE</a>
										</div> <!-- /.post-meta 
									</div> <!-- /.single-blog 
								</div> <!-- /.col- 
								<div class="item">
									<div class="single-blog">
										<div class="image-box">
											<img src="assets/images/news/pic3.jpg" alt="">
											<div class="overlay"><a href="#" class="date">July 03, 2023</a></div>
										</div> <!-- /.image-box 
										<div class="post-meta">
											<h5 class="title"><a href="blog-details.html"></a></h5>
											<a routerLink="/blog-detail" class="read-more">READ MORE</a>
										</div> <!-- /.post-meta 
									</div> <!-- /.single-blog 
								</div> <!-- /.col- 
							</div> <!-- /.latest-news-slider 
						</div> <!-- /.row 
					</div> <!-- /.wrapper 
				</div> <!-- /.container
			</div> <!-- /.our-blog -->